/* /Pages/Login/Index.razor.rz.scp.css */
/*#Login {
    background-image: url(SVGs/google_dark_normal.png);
    background-position:center;
}

.slanted {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
}

    .slanted:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        transform: skew(-45deg);
        z-index: -1;
    }*/
/* /Pages/SelectCharacter/Index.razor.rz.scp.css */
/*body{
    background-color: var(--primary-color);
}


#SelectCharContainer{
    width:80%;
    height:100vh;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    gap:2rem;
    align-content:flex-start;
    justify-content:space-evenly;
    padding:3rem;
}


.CharacterWidget{
    width:450px;
    height:200px;   
}

    .CharacterWidget h1{
        color:var(--text-color);
        width:100%;
        height:100%;
        line-height:100%;
        text-align:center;
    }*/
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-f4l81aq4rf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-f4l81aq4rf] {
    width:auto;
    height:auto;
    min-height:100vh;
}

html[b-f4l81aq4rf]{
    background-color:black;
}

.dark-theme[b-f4l81aq4rf] {
    --primary-color: #2b2b2b;
    --dark-color: #303030;
    --accent-color: #962424;
    --text-color: #e1e1e1;
    --subtext-color: #acacac;

    background-repeat: no-repeat;
    background-size: contain cover;
    background-color:var(--primary-color);
    padding: 0px;
    margin: 0px;
}

.scroll[b-f4l81aq4rf]{

}

    .scroll[b-f4l81aq4rf]::-webkit-scrollbar {
        width: 5px;
    }

/* Track */
    .scroll[b-f4l81aq4rf]::-webkit-scrollbar-track {
        background: #00000000;
    }

/* Handle */
    .scroll[b-f4l81aq4rf]::-webkit-scrollbar-thumb {
        background: var(--accent-color);
        border-radius: 5px;
    }
